
    h1 {
        text-align: center;
        color: blue;
        background-color: brown;
        margin: 50px;
    }

    h2 {

        text-align: center;
        text-decoration: underline;
        font-size: medium;
    }